# ======================
# PYTHON
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# ======================
# VIRTUAL ENVIRONMENT
# ======================
venv/
.env/
*.env

# ======================
# JUPYTER NOTEBOOK
# ======================
.ipynb_checkpoints

# ======================
# STREAMLIT
# ======================
.streamlit/secrets.toml

# ======================
# SYSTEM FILES
# ======================
.DS_Store
Thumbs.db
